 /* Fundo principal */
.root {
    -fx-background-color: #E6E8E6; /* Cinza suave claro */
}

/* Botões */
.button {
    -fx-background-color: #D6D6D6; /* Cinza claro */
    -fx-text-fill: #000000; /* Texto preto */
    -fx-background-radius: 5; /* Bordas arredondadas */
    -fx-padding: 5 10; /* Espaçamento interno */
}

.button:hover {
    -fx-background-color: #BFBFBF; /* Cinza médio no hover */
}


/* Textos */
.label {
    -fx-text-fill: #000000; /* Texto preto */
    -fx-font-size: 12px;
}

/* Campos de entrada */
.text-field {
    -fx-background-color: #FFFFFF; /* Fundo branco */
    -fx-text-fill: #000000; /* Texto preto */
    -fx-border-color: #B8C7C8; /* Bordas cinza médio */
    -fx-border-radius: 3; /* Bordas arredondadas */
}

.text-field:focused {
    -fx-border-color: #A3B1B2; /* Cinza mais escuro ao focar */
}

/* Menus */
.menu-bar {
    -fx-background-color: #81C7F3; /* Azul claro para o menu */
}

.menu-item {
    -fx-text-fill: #FFFFFF; /* Texto branco no menu */
}

/* Hover do menu */
.menu-item:hover {
    -fx-background-color: #63B0D1; /* Azul um pouco mais escuro no hover */
    -fx-text-fill: #FFFFFF; /* Texto branco no hover */
    -fx-border-color: transparent; /* Sem borda no hover */
}

/* Alertas e Erros */
.alert {
    -fx-background-color: #FF9E9E; /* Vermelho suave (erro) */
    -fx-text-fill: #FFFFFF; /* Texto branco */
    -fx-padding: 10; /* Espaçamento interno */
    -fx-background-radius: 5; /* Bordas arredondadas */
}

.success-alert {
    -fx-background-color: #4CAF50; /* Verde para sucesso */
    -fx-text-fill: #FFFFFF; /* Texto branco */
}

.warning-alert {
    -fx-background-color: #FFEB3B; /* Amarelo para aviso */
    -fx-text-fill: #000000; /* Texto preto */
}
